.container {
    width: 80%;
    background-color: antiquewhite;
    margin: 0px auto;
}

.card {
    width: 80%;
    height: 100vh;
    background-color: aquamarine;
    margin: 0px auto;
}

@media(min-width: 768px) {
    .card {
        background-color: purple;
    }
}
